@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

#root {
    background: #323031;
    font-family: 'Poppins', sans-serif;
    padding:6px;
    min-height: 100vh;
}
