.mainNavbar {
  border-bottom: 1px solid #b39c4d;
  display: flex;
  padding: 16px 0px;
}

.mainNavbar__hamburger {
  display: none;
  top: 16px;
}

.mainNavbar__navigation {
  display: flex;
  list-style-type: none;
}

.active {
  text-decoration: underline;
}

#inactive {
  color: #fff;
  text-decoration: none;
}

.searchbar__input {
  border:none;
  border-radius:6px;
  outline-color: #198754;
  padding: 6px 13px;
}

@media screen and (max-width: 680px) {
  .mainNavbar {
    padding: 0;
  }
  .mainNavbar__hamburger {
    background-color: #323031;
    border: none;
    color: #fff;
    display: block;
    height: 2em;
    width: 2em;
  }

  .mainNavbar__hamburger:hover {
    color: #198754;
  }

  .mainNavbar__navigation {
    display: none;
    height: 100vh;
    width: 100vw;
  }

  .mainNavbar__navigation--open {
    background-color: red;
    display: block;
    height: 100vh;
    width: 100vw;
  }
  .searchbar__input {
    max-width: 50vw;
  }
}
