.mainNavbar {
  border-bottom: 1px solid #b39c4d;
  display: flex;
  padding: 16px 0px;
}

.mainNavbar__hamburger {
  display: none;
  top: 16px;
}

.mainNavbar__navigation {
  display: flex;
  list-style-type: none;
}

.mainNavbar__navigation li a {
  text-decoration: none;
}
.mainNavbar__navigation--open li :hover {
  color: #198754;
}

.mainNavbar__link {
  margin-left: 20px;
}

.active {
  color: #198754;
  text-decoration: underline;
}

#inactive {
  color: #fff;
  text-decoration: none;
}

.searchbar__input {
  border: none;
  border-radius: 6px;
  outline-color: #198754;
  padding: 6px 13px;
}

@media screen and (max-width: 680px) {
  .mainNavbar {
    padding: 0;
  }
  .mainNavbar__hamburger {
    background-color: #323031;
    border: none;
    color: #fff;
    display: block;
    font-size: 2em;
    z-index: 2;
  }

  .mainNavbar__hamburger:hover {
    color: #198754;
  }

  .mainNavbar__navigation {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    transition: 1s ease;
  }

  .mainNavbar__navigation--open {
    background-color: #323031;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: large;
    height: 100vh;
    justify-content: center;
    line-height: 3em;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    transition: 1s ease;
    z-index: 1;
  }

  .mainNavbar__link {
    margin-left: 0px;
  }

  .searchbar__input {
    max-width: 50vw;
  }
}
